[advisories]
vulnerability = "warn"
unmaintained = "warn"
yanked = "warn"
notice = "warn"
unsound = "warn"

[licenses]
allow = [
    "MIT",
    "MIT-0",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-3-Clause",
    "BSD-2-Clause",
    "ISC",
    "MPL-2.0",
    "Unicode-DFS-2016",
    "Zlib",
    "OpenSSL",
    "CC0-1.0",
    "Unlicense"
]
copyleft = "warn"
default = "deny"

[bans]
multiple-versions = "warn"
wildcards = "deny"
highlight = "all"

[sources]
unknown-registry = "warn"
unknown-git = "warn"
